<h2 mat-dialog-title>
  {{ mode === 'create' ? 'Add Job' : 'Edit Job' }}
</h2>

<mat-dialog-content class="content" [formGroup]="form">
  <div class="grid">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title"  />
      <mat-error *ngIf="form.controls['title'].touched && form.controls['title'].invalid">
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <input matInput formControlName="department"  />
      <mat-error *ngIf="form.controls['department'].touched && form.controls['department'].invalid">
        Department is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location"  />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let s of statuses" [value]="s">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider class="divider"></mat-divider>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Description</mat-label>
      <textarea matInput rows="5" formControlName="description"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="loading()">
    {{ mode === 'create' ? 'Create' : 'Save' }}
  </button>
</mat-dialog-actions>
